@page
@model AceJobAgency.Pages.ChangePasswordModel
@{
}

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
	function onSubmit(token) {
		document.getElementById("changePasswordForm").submit();
	}
</script>

<div class="container mt-5">
	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Change Password</h1>

			<form method="post" id="changePasswordForm" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.CurrentPassword">Current Password</label>
					<input type="password" asp-for="CPModel.CurrentPassword" class="form-control" />
					<span asp-validaton-for="RModel.CurrentPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.Password">New Password</label>
					<input type="password" asp-for="CPModel.Password" class="form-control" />
					<span asp-validaton-for="CPModel.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.ConfirmPassword">Confirm New Password</label>
					<input type="password" asp-for="CPModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="CPModel.ConfirmPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="6LeFHl8pAAAAALm0F_-z467ty7Qy3gE_9PYmOEQU" data-callback='onSubmit'>
						Change Password
					</button>
					<a class="btn btn-outline-primary" href="/">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>