@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot Password";
}

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
	function onSubmit(token) {
		document.getElementById("forgotForm").submit();
	}
</script>

<div class="container mt-5">
	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Forgot Password</h1>
			<p>Enter your email address and we will send you a link to reset your password.</p>
			<form method="post" id="forgotForm" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="FPModel.Email">Email Address</label>
					<input type="Text" asp-for="FPModel.Email" class="form-control" />
					<span asp-validaton-for="FPModel.Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="6LeFHl8pAAAAALm0F_-z467ty7Qy3gE_9PYmOEQU" data-callback='onSubmit'>
						Request Reset Link
					</button>
				</div>
			</form>
		</div>
	</div>
</div>