@page
@model AceJobAgency.Pages.RegisterModel
@{
	ViewData["Title"] = "Register";
}

<script src="https://www.google.com/recaptcha/api.js"></script>


<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Register</h1>

			<form method="post" enctype="multipart/form-data" asp-antiforgery="true" id="registerForm">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Email">Email Address</label>
					<input type="Text" asp-for="RModel.Email" class="form-control" />
					<span asp-validaton-for="RModel.Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Password">Password</label>
					<input id="password" type="password" asp-for="RModel.Password" class="form-control" />
					<div class="progress mt-1">
						<div id="strength" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<span asp-validaton-for="RModel.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
					<input type="password" asp-for="RModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="RModel.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.FirstName">First Name</label>
					<input type="Text" asp-for="RModel.FirstName" class="form-control" />
					<span asp-validaton-for="RModel.FirstName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.LastName">Last Name</label>
					<input type="Text" asp-for="RModel.LastName" class="form-control" />
					<span asp-validaton-for="RModel.LastName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Nric">NRIC</label>
					<input type="Text" asp-for="RModel.Nric" class="form-control" />
					<span asp-validaton-for="RModel.Nric" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Gender">Gender</label>
					<br />
					<input type="radio" asp-for="RModel.Gender" class="form-check-input" value="Male" /> <label>Male</label><br />
					<input type="radio" asp-for="RModel.Gender" class="form-check-input" value="Female" /> <label>Female</label>
					<span asp-validaton-for="RModel.Gender" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.DateOfBirth">Date-of-Birth</label>
					<input type="date" asp-for="RModel.DateOfBirth" class="form-control" />
					<span asp-validaton-for="RModel.DateOfBirth" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Resume">Resume Upload (Only PDF or DOCX files)</label>
					<input type="file" asp-for="RModel.Resume" class="form-control" accept=".pdf, .docx, .doc" />
					<span asp-validaton-for="RModel.Resume" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.About">Who Am I?</label>
					<textarea type="text" asp-for="RModel.About" class="form-control"></textarea>
					<span asp-validaton-for="RModel.About" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="6LeFHl8pAAAAALm0F_-z467ty7Qy3gE_9PYmOEQU" data-callback='onSubmit'>
						Register
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function onSubmit(token) {
		document.getElementById("registerForm").submit();
	}

	var password = document.getElementById("password")
	password.addEventListener('keyup', function () {
		checkPassword(password.value)
	})

	password.addEventListener('change', function () {
		checkPassword(password.value)
	})

	function checkPassword(password) {
		var strengthBar = document.getElementById("strength")
		var strengthBarValue = document.getElementById("strength").style
		var strength = 0;
		if (password.match(/[a-z]/)) {
			strength += 1
		}
		if (password.match(/[A-Z]/)) {
			strength += 1
		}
		if (password.match(/\d/)) {
			strength += 1
		}
		if (password.match(/[^\da-zA-Z]/)) {
			strength += 1
		}
		if (password.length >= 12) {
			strength += 1
		}

		switch (strength) {
			case 0:
				strengthBarValue.width = "0%";
				strengthBar.className = 'progress-bar bg-danger progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Non-Existent...";
				break
			case 1:
				strengthBarValue.width = "20%";
				strengthBar.className = 'progress-bar bg-danger progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Too weak...";
				break
			case 2:
				strengthBarValue.width = "40%";
				strengthBar.className = 'progress-bar bg-warning progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Still too weak...";
				break
			case 3:
				strengthBarValue.width = "60%";
				strengthBar.className = 'progress-bar bg-warning progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Getting better...";
				break
			case 4:
				strengthBarValue.width = "80%";
				strengthBar.className = 'progress-bar bg-info progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Almost there...";
				break
			case 5:
				strengthBarValue.width = "100%";
				strengthBar.className = 'progress-bar bg-success progress-bar-striped';
				strengthBar.innerHTML = "Strong!";
				break
		}
	}
</script>