@page
@model ResetPasswordModel
@{
}

<script src="https://www.google.com/recaptcha/api.js"></script>


<div class="container mt-5">
	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Reset Password</h1>

			<form method="post" id="resetPasswordForm" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.Password">New Password</label>
					<input id="password" type="password" asp-for="CPModel.Password" class="form-control" />
					<div class="progress mt-1">
						<div id="strength" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<span asp-validaton-for="CPModel.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.ConfirmPassword">Confirm New Password</label>
					<input type="password" asp-for="CPModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="CPModel.ConfirmPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="6LeFHl8pAAAAALm0F_-z467ty7Qy3gE_9PYmOEQU" data-callback='onSubmit'>
						Reset Password
					</button>
					<a class="btn btn-outline-primary" href="/">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function onSubmit(token) {
		document.getElementById("resetPasswordForm").submit();
	}

	var password = document.getElementById("password")
	password.addEventListener('keyup', function () {
		checkPassword(password.value)
	})

	password.addEventListener('change', function () {
		checkPassword(password.value)
	})

	function checkPassword(password) {
		var strengthBar = document.getElementById("strength")
		var strengthBarValue = document.getElementById("strength").style
		var strength = 0;
		if (password.match(/[a-z]/)) {
			strength += 1
		}
		if (password.match(/[A-Z]/)) {
			strength += 1
		}
		if (password.match(/\d/)) {
			strength += 1
		}
		if (password.match(/[^\da-zA-Z]/)) {
			strength += 1
		}
		if (password.length >= 12) {
			strength += 1
		}

		switch (strength) {
			case 0:
				strengthBarValue.width = "0%";
				strengthBar.className = 'progress-bar bg-danger progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Non-Existent...";
				break
			case 1:
				strengthBarValue.width = "20%";
				strengthBar.className = 'progress-bar bg-danger progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Too weak...";
				break
			case 2:
				strengthBarValue.width = "40%";
				strengthBar.className = 'progress-bar bg-warning progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Still too weak...";
				break
			case 3:
				strengthBarValue.width = "60%";
				strengthBar.className = 'progress-bar bg-warning progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Getting better...";
				break
			case 4:
				strengthBarValue.width = "80%";
				strengthBar.className = 'progress-bar bg-info progress-bar-striped progress-bar-animated';
				strengthBar.innerHTML = "Almost there...";
				break
			case 5:
				strengthBarValue.width = "100%";
				strengthBar.className = 'progress-bar bg-success progress-bar-striped';
				strengthBar.innerHTML = "Strong!";
				break
		}
	}
</script>